.navbar {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	z-index: 10;
}

.navbar-container {
	display: flex;
	background-color: #343a40;
	padding: 0.8rem 1rem;
	margin: 0 8vw 0 8vw;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 0 10px 10px;
}

.navbar a {
	color: rgb(232, 230, 227);
	text-decoration: none;
}

/* brand name */
.navbar-brand {
	text-decoration: none;
	font-size: 20px;
}

/* search container */
.navbar-search {
	display: grid;
	margin: 0 20px;
	grid-template-columns: 8fr 2fr;
	column-gap: 0;
	row-gap: 0;
}

/* search bar */
.navbar-search-input {
	height: 25px;
	border: none;
	outline: none;
	font-size: 14px;
	padding: 5px;
	color: #343a40;
}

/* links */
.navbar-links {
	margin-left: 10px;
}

.navbar-links a {
	color: #a0a8b1;
	margin-right: 20px;
}

.navbar-links a:hover {
	color: #ffffff;
	margin-right: 20px;
}

/* search button */
.btn-navbar-search {
	height: 35px;
	font-size: 14px;
	padding: 0 10px;
	margin-right: 20px;
	text-align: center;
	width: 100%;
	border: none;
	outline: none;
	background-color: rgb(11, 100, 172);
	color: white;
}

.btn-navbar-search:hover {
	background-color: rgb(46, 161, 255);
}

/* responsiveness */
@media only screen and (max-width: 850px) {
	.navbar-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: nowrap;
	}

	.navbar-links,
	.navbar-search {
		margin-top: 10px;
		margin-left: 0;
	}

	.navbar-links a:last-child {
		margin-right: 0;
	}
}
