.loading-overlay {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 30;
}

.loading-overlay-hidden {
	display: none;
}

.loading-overlay > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading-overlay-progress,
.loading-overlay-text h3 {
	color: white;
	margin: 0;
	padding: 0;
}

.loading-overlay-text h3 {
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
}

.loading-overlay-text {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.loading-overlay-text h3:first-child {
	font-size: 16px;
	font-style: initial;
	font-weight: bold;
	margin-bottom: 5px;
}

.loading-overlay-progress {
	margin-bottom: 10px;
}

/* loading spinner */

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 60px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
