body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	background-color: black;
}

.background {
	position: fixed;
	z-index: -1;
	height: 100vh;
	width: 100vw;
	background-image: url(https://wallpapercave.com/wp/wp3165483.jpg);
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: top center, bottom center, top left;
	background-attachment: fixed, fixed, fixed;
	opacity: 0.4;
}
